
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  line-height: 28px;
  font-weight: 400;
  overflow-x: hidden;
  text-rendering: geometricPrecision;


}

@layer components {

  .button-orange {

    font-family: 'Alfa Slab One', sans-serif;
    @apply mt-6 bg-[#ff6d00] rounded hover:bg-primary border-none uppercase text-center text-[17px] font-medium text-white transition-all ease-out duration-300  inline-block py-4 px-10;
  }
  .button-logo {

    font-family: "Bebas Neue", sans-serif;
    @apply btn-ghost  px-2 py-1 lg:px-4 lg:py-2 flex items-center font-bold uppercase transition-all duration-500 rounded-[8px] cursor-pointer


  }
  .form-label {

    font-family: "Montserrat", sans-serif;
    @apply text-primary text-left font-semibold py-5 tracking-wider transition-all duration-500
  }
  .form-input {

    font-family: "Bebas Neue", sans-serif;
    @apply input join-item shadow-none text-[#3d3d3d]  h-[50px] lg:h-[65px] text-[18px] lg:text-[21px] border-[#ced4da]

  }

  .scroll-top-button {

    @apply absolute bottom-0 -left-3  bg-primary flex justify-center items-center w-11 h-11 rounded-full  transition-all

  }
  .section-title {

    font-family: 'Alfa Slab One', sans-serif;
    @apply text-primary text-center text-[36px] lg:text-[50px] mb-2.5 leading-tight font-medium uppercase

  }

}

[data-theme='dark'] {

  .background-dark {

    background: rgb(142 31 31 / 50%)
  }
}
